/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.phpunit.cache
/bootstrap/cache/*.php
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/.nova
/.zed
*.log
/database/database.sqlite
